@keyframes navshow {
	0% {
		left: -100%;
	}
	100% {
		left: 0%;
	}
}

@keyframes navIn {
	0% {
		opacity: 0;
		width: 110%;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes navCollapse {
	0% {
		height: initial;
	}
	100% {
		height: 0;
	}
}
