.nav-item-collapse {
	background-color: $light;
	color: $color-2;
	overflow: hidden;
	display: flex;
	height: 0;
	margin: 0 0 0 100%;
	transition: height 0.5s ease;

	a {
		color: $color-2;
		font-size: 0.8rem;
		margin-top: 1.5rem;

		&:hover {
			color: $color-3;
		}

		i {
			color: $color-3;
			margin-left: 0.25rem;
		}
	}

	button {
		padding: 0;
	}

	&.show {
		margin: 0 0 0 0;
		padding: 0.5rem 2rem;
		transition: margin 0.2s ease 0.5s, height 0.5s ease;
	}

	&.hide {
		padding: 0.5rem 2rem;
		margin: 0rem;
	}
}
