#nav-content {
	width: 100vw;
	.nav-dropdowns {
		.nav-dropdown-toggle {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 3rem 0 2rem;
			position: relative;

			&:focus {
				opacity: 0.6;
			}

			h3 {
				font-size: 1rem;
			}
		}
	}

	.slide-in-left {
		font-size: 0.9rem;

		.nav-links {
			display: flex;
			flex-direction: column;
			padding: 1rem 2rem;

			.nav-link {
				&:not(:last-child) {
					margin-bottom: 1.5rem;
				}
			}
		}

		.nav-region {
			padding: 2rem;

			.nav-current-region {
				margin: 0 0.5rem;
			}
		}
	}
}

.show {
	#nav-content {
		.nav-dropdowns {
			.nav-dropdown-toggle {
				display: flex;
				animation: navIn 1s ease;

				h3 {
					text-transform: uppercase;
				}
			}
		}

		.slide-in-left {
			display: initial;
		}
	}
}
